<!DOCTYPE html>
<html th:replace="~{layout :: layout('learn', ~{::title}, ~{::meta[@name='description']}, ~{}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project Reactor - Learn</title>
    <meta name="description" content="Learn Project Reactor"/>
</head>
<body>

<div class="content" id="content">
    <div class="page-summary">
        <div class="page-summary-content">
            <div class="page-summary-wrap">
                <h1>Curated List of Learning Material</h1>

                <div class="details">
                                    <span>This section lists external material like conference talks, articles
                                        and blogs that cover Reactor 3 and can serve as an alternative source
                                    of knowledge about the library.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="learn">
        <div class="project">
            <div class="project-row">
                <div class="book">
                    <iframe id="talk_frame_386298"
                            src="//speakerdeck.com/player/fa5195b61d9e4d7bb85c84fc53740b89"
                            width="710"
                            height="399"
                            style="border:0; padding:0; margin:0; background:transparent;"
                            frameborder="0"
                            allowtransparency="true"
                            allowfullscreen="allowfullscreen"
                            mozallowfullscreen="true"
                            webkitallowfullscreen="true">

                    </iframe>
                </div>
            </div>
            <div class="project-row">
                <div class="project-col-left">
                    <div class="book">
                        <section id="learn-curated">
                            <article>
                                <p class="title"><span class="fa fa-github">&nbsp;</span>
                                    Lite Rx API Hands On</p>
                                <p class="desc">A hands-on targeted at an audience discovering reactive programming, with Reactor 3.</p>
                                <p class="link"><a href="https://tech.io/playgrounds/929/reactive-programming-with-reactor-3">See more <span class="fa fa-angle-right"></span></a></p>
                            </article>
                            <article>
                                <p class="title"><span class="fa fa-file-text-o">&nbsp;</span>
                                    Reactor by Example</p>
                                <p class="desc">An extensive InfoQ article, part of a series on Reactive Programming. Compares and contrasts
                                    with RxJava (and especially RxJava 2), focuses on the backpressure aspect and touches on testing.</p>
                                <p class="link"><a href="https://www.infoq.com/articles/reactor-by-example/">See more <span class="fa fa-angle-right"></span></a></p>
                            </article>
                            <article>
                                <p class="title"><span class="fa fa-play-circle">&nbsp;</span>
                                    Devoxx Be 2016 University</p>
                                <p class="desc">"Developing Reactive applications with Reactive Streams and Java 8"
                                    by Brian Clozel, Sébastien Deleuze</p>
                                <p class="link"><a href="https://www.youtube.com/watch?v=Cj4foJzPF80">See more <span class="fa fa-angle-right"></span></a></p>
                            </article>
                            <article>
                                <p class="title"><span class="fa fa-files-o">&nbsp;</span>
                                    David Karnok's Blog</p>
                                <p class="desc">David Karnok (<span class="fa fa-github"></span> akarnokd)
                                    is the main RxJava committer, but he also contributes to Reactor. His blog digs
                                    deep into details of reactive flows
                                    implementations, and most of this knowledge
                                    can be transposed to Reactor.</p>
                                <p class="link"><a href="http://akarnokd.blogspot.fr/">See more <span class="fa fa-angle-right"></span></a></p>
                            </article>
                        </section>

                    </div>

                </div>
                <div class="project-col-right">
                    <a class="twitter-timeline" data-width="300" data-height="580" data-link-color="#6db33f" href="https://twitter.com/ProjectReactor"></a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>