<!DOCTYPE html>
<html th:replace="~{layout :: layout('project', ~{::title}, ~{::meta[@name='description']}, ~{::link}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Work in Progress</title>
    <meta name="description" content="Work in Progress"/>
    <link href="/assets/css/docs.css" media="all" rel="stylesheet"/>
</head>
<body>

<div class="page-summary">
    <div class="page-summary-content">
        <div class="page-summary-wrap">
            <h1>
                Reactor Core
                <a href="https://github.com/reactor/reactor-core" class="link-github">
                    <span class="fa fa-github"></span>
                </a>
            </h1>
            <div class="details">
                A Reactive Streams foundation for Java 8

                <div class="version">
                    <span class="version releasetrain hold">Aluminium-SR3</span>
                    <span class="version">3.0.7.RELEASE</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="main" class="project">
    <div class="project-content">
        <div class="project-row">
            <div class="project-col-left">
                <h1>Introduction</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <h1>Features</h1>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Etiam consectetur turpis sit amet tortor sodales, in pellentesque magna gravida.</li>
                    <li>Quisque efficitur nibh a sem commodo fringilla.</li>
                    <li>Vestibulum aliquam purus sed imperdiet laoreet.</li>
                    <li>Integer lobortis nisl vel hendrerit vestibulum.</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur <a>adipiscing elit</a>, sed do eiusmod tempor <a>incididunt ut labore et dolore</a> magna aliqua.</p>

                <h1>Minimum requirements</h1>
                <ul>
                    <li>JDK 6+ for Spring Framework 4.x</li>
                    <li>JDK 5+ for Spring Framework 3.x</li>
                </ul>

                <h1>Quick Start</h1>

                <ul class="nav-options">
                    <li>
                        <a class="btn btn-primary">MAVEN</a>
                    </li>
                    <li>
                        <a class="btn btn-default">REACTOR</a>
                    </li>
                </ul>
                <pre class="code" id="code-block-snippet"><code><span class="nt">&lt;dependencies&gt;</span>
    <span class="nt">&lt;dependency&gt;</span>
        <span class="nt">&lt;groupId&gt;</span>org.reactor<span class="nt">&lt;/groupId&gt;</span>
        <span class="nt">&lt;artifactId&gt;</span>reactor-core<span class="nt">&lt;/artifactId&gt;</span>
        <span class="nt">&lt;version&gt;</span>3.0.0.RELEASE<span class="nt">&lt;/version&gt;</span>
    <span class="nt">&lt;/dependency&gt;</span>
<span class="nt">&lt;/dependencies&gt;</span></code></pre>

                <p>Lorem ipsum dolor sit amet, consectetur <a>adipiscing elit</a>, sed do eiusmod tempor <a>incididunt ut labore et dolore</a> magna aliqua.</p>
                <h1>Lorem ipsum dolor sit amet</h1>
                <p>Lorem ipsum dolor sit amet, consectetur <a>adipiscing elit</a>, sed do eiusmod tempor <a>incididunt ut labore et dolore</a> magna aliqua.</p>
            </div>
            <div class="project-col-right">
                <div class="panel">
                    <div class="panel-title">
                        Reactor Core
                    </div>
                    <div class="panel-content">
                        <table class="table-2">
                            <thead>
                            <tr>
                                <th>RELEASE</th>
                                <th>DOCUMENTATION</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>3.0.0</td>
                                <td>
                                    <a>Reference</a> |
                                    <a>API</a>
                                </td>
                            </tr>
                            <tr>
                                <td>3.0.0</td>
                                <td>
                                    <a>Reference</a> |
                                    <a>API</a>
                                </td>
                            </tr>
                            <tr>
                                <td>3.0.0</td>
                                <td>
                                    <a>Reference</a> |
                                    <a>API</a>
                                </td>
                            </tr>
                            <tr>
                                <td>3.0.0</td>
                                <td>
                                    <a>Reference</a> |
                                    <a>API</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>