$small-font-size: .85rem;

body {
  margin-top: 3rem;
}

.admonitionblock .content {
	.listingblock, p {
		font-size: $small-font-size !important;
	}
}

.ui.menu {
  .header a {
    line-height: 1.0 !important;
    font-size: $small-font-size;
  }
}

.ui.breadcrumb {
  font-size: $small-font-size;
  margin-top: 0;
  margin-bottom: 2rem;
}

.sectionbody {
	p:last-child {
		margin-bottom: 1rem;
	}

	.ui.segment {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
}