html {
}

.home {
  .ui.segment {
    border-radius: 0;
  }

  .ui.menu .header a {
    line-height: 1.0 !important;
    font-size: .8rem;
  }

  .masthead {
    background-image: url(/assets/nuclear_reactor.jpg);

    nav {
      margin-top: 2rem !important;
      margin-bottom: 6rem;
    }

    h1 {
      margin-bottom: 0;
    }

    h4 {
      margin-top: 0;
      margin-bottom: 2rem;
    }

    .information {
      p {
        line-height: 1.3;
      }

      li {
        margin-bottom: 1rem;
      }
    }
  }

  .main {
    .ui.page.grid {
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
  }

  .build.snippet code {
    color: #000000 !important;
  }
}

