<div id="topnav">
  <div class="ui menu">
    <div class="header item"><a href="/">Project Reactor</a></div>
    <div class="right menu">
      <div class="item">
        <div class="ui transparent icon input">
          <input type="text" placeholder="Search...">
          <i class="search icon"></i>
        </div>
      </div>
      <a class="item" href="/doc/"><i class="book icon"></i></a>
      <a class="item" href="https://github.com/reactor/reactor/"><i class="github icon"></i></a>
      <a class="item" href="https://github.com/reactor/reactor/issues"><i class="bug icon"></i></a>
      <a class="item" href="http://stackoverflow.com/search?q=%23reactor"><i class="comments icon"></i></a>
    </div>
  </div>
</div>
