<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title><%= @item[:title] %> | Project Reactor</title>
    <%= render '_head' %>
    <script src="<%= @items['/lib/home.js/'].path %>"></script>
  </head>
  <body id="home" class="basic">
    <%= render '_navbar' %>
    <div class="ui main container segment">
      <%= yield %>
    </div>
  </body>
</html>
