
@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 70em) { @content ; }
  }
  @else if $point == small {
    @media (max-width: 40em)  { @content ; }
  }
  @else if $point == xsmall {
    @media (max-width: 30em)  { @content ; }
  }
}


.mobile-only {
  display: none;
}

@mixin mobile-lg {

  .mobile-only {
    display: block;
  }
  
  #header {
    height: 580px;
    h1#logo {
      float: none;
      margin: 15px auto;
      a {
        margin: 0 auto;

        height: 45px;
        width: 285px;
        background-size: 285px 45px;

      }
    }
    #nav {
      display: block;
      float: none;
      margin: 0 auto;
      text-align: center;
      padding-top: 20px;
    }
    .heading {
      padding-bottom: 10px;
    }

    .reactive-fastdata {
      padding-top: 0;
      h2  {
        font-size: 1.4em;
        line-height: 1.4em;
        strong {
        }
      }
      p {
        padding: 0 20px;
      }
    }
  }

  section.key-features {
    padding: 30px 0 40px;
    h1 {
      font-size: 2.5em;
    }
    .row article {
      float: none;
      width: auto;
      div {
        padding-left: 80px;
        span.icon {
          left: 0;
        }
      }
    }
  }

  #code {
    display: none;
  }

  section.getting-started {
    padding: 30px 20px;
    article .row .col-xs-6 {
      float: none;
      width: auto;
    }
    p.description {
      padding-bottom: 10px;
    }
    h1 {
      line-height: 1.1em;
      font-size: 2em;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  
}

@mixin mobile-sm {
  section.quick-links {
    padding: 20px 0;
    .row {
      .col-xs-4 {
        float: none;
        width: auto;
      }
    }
    article {
      border-bottom: 1px solid rgba(0,0,0,.1);
      div {
        padding: 15px 20px;
      }
      &:last-child {
        border-bottom: 0 none;
      }
    }
  }
}


/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  @include mobile-lg();
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  @include mobile-sm();
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  @include mobile-lg();
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  @include mobile-sm();
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  @include mobile-lg();
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  @include mobile-sm();
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}
