body, html {
  height: 100%;
  margin: 0;
  font-weight: 100;
}
.application-container {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  -webkit-transition:  left 0.4s ease-in-out;
  -moz-transition:  left 0.4s ease-in-out;
  -ms-transition:  left 0.4s ease-in-out;
  -o-transition:  left 0.4s ease-in-out;
  transition:  left 0.4s ease-in-out;
}
.application-container.open-sidebar {
  left: 240px;
}

#sidebar {
  background: $reactorTextColor;
  position: absolute;
  width: 240px;
  height: 100%;
  left: -240px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: inset -4px 0 5px rgba(0,0,0,.2);
}
#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#sidebar ul li {
  margin: 0;
}
#sidebar ul li a {
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 100;
  color: white;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #494542;
  -webkit-transition:  background 0.3s ease-in-out;
  -moz-transition:  background 0.3s ease-in-out;
  -ms-transition:  background 0.3s ease-in-out;
  -o-transition:  background 0.3s ease-in-out;
  transition:  background 0.3s ease-in-out;
}
#sidebar ul li:hover a {
  background: #494542;
}
.application-main-content {
  width: 100%;
  height: 100%;
  //padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  overflow:scroll;
}
.application-main-content .application-content{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  //padding-left: 60px;
  width: 100%;
}
.application-main-content #sidebar-toggle {
  display: none;
  background: $reactorTextColor;
  color:white;
  border-radius: 3px;
  padding: 4px 10px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 8px;
  left: 8px;
  float: left;
  z-index: 1000;
}
.application-main-content #sidebar-toggle .bar:last-child{
  margin-bottom: 0;
}

