name: CI
on:
  push:
    branches:
      - main
  pull_request: {}
permissions: read-all
jobs:
  checks:
    name: checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 #for spotless ratchet
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 8
      - uses: gradle/gradle-build-action@v2
        name: license header
        if: ${{ github.event_name == 'pull_request' }}
        with:
          arguments: spotlessCheck -PspotlessFrom=origin/${{ github.base_ref }}
      - uses: gradle/gradle-build-action@v2
        name: tests
        with:
          arguments: check -x spotlessCheck