name: CI
on:
  push:
    branches:
      - main
  pull_request: {}
permissions: {}
jobs:
  checks:
    name: checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4
        with:
          fetch-depth: 0 #for spotless ratchet
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v4
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2
      - name: license header
        if: ${{ github.event_name == 'pull_request' }}
        run: ./gradlew spotlessCheck -PspotlessFrom=origin/${{ github.base_ref }}
      - name: tests
        run: ./gradlew check -x spotlessCheck
