name: CI
on:
  push:
    branches:
      - main
  pull_request: {}
permissions: read-all
jobs:
  checks:
    name: checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4
        with:
          fetch-depth: 0 #for spotless ratchet
      - uses: actions/setup-java@9704b39bf258b59bc04b50fa2dd55e9ed76b47a8 # v4
        with:
          distribution: 'temurin'
          java-version: 8
      - uses: gradle/gradle-build-action@29c0906b64b8fc82467890bfb7a0a7ef34bda89e # v3
        name: license header
        if: ${{ github.event_name == 'pull_request' }}
        with:
          arguments: spotlessCheck -PspotlessFrom=origin/${{ github.base_ref }}
      - uses: gradle/gradle-build-action@29c0906b64b8fc82467890bfb7a0a7ef34bda89e # v3
        name: tests
        with:
          arguments: check -x spotlessCheck