name: CI
on:
  push:
    branches:
      - main
  pull_request: {}
permissions: read-all
jobs:
  checks:
    name: checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # tag=v3
        with:
          fetch-depth: 0 #for spotless ratchet
      - uses: actions/setup-java@19eeec562b37d29a1ad055b7de9c280bd0906d8d # v3
        with:
          distribution: 'temurin'
          java-version: 8
      - uses: gradle/gradle-build-action@3fbe033aaae657f011f88f29be9e65ed26bd29ef # tag=v2
        name: license header
        if: ${{ github.event_name == 'pull_request' }}
        with:
          arguments: spotlessCheck -PspotlessFrom=origin/${{ github.base_ref }}
      - uses: gradle/gradle-build-action@3fbe033aaae657f011f88f29be9e65ed26bd29ef # tag=v2
        name: tests
        with:
          arguments: check -x spotlessCheck