name: DEPLOY
on:
  workflow_dispatch:
    permissions:
      teams:
        - 'reactor/team'
    inputs:
      application:
        description: 'Application name to deploy:'
        required: true
        type: choice
        default: 'projectreactor-test'
        options:
          - 'projectreactor-test'
          - 'projectreactor'

permissions: read-all

jobs:
  deploy-cf:
    runs-on: self-hosted
    env:
      APPNAME: ${{ github.event.inputs.application }}
      ROUTE: ${{ github.event.inputs.application == 'projectreactor' && 'https://projectreactor.io' || secrets.CF_ROUTE_TEST }}
    steps:
      - name: Mask CF API urls
        run: |-
          # The CF cli may log the API urls in case of errors, but without the "https://" prefix, so mask API urls 
          # without the protocol prefix. 
          primary_api=$(echo ${{ secrets.CF_PRIMARY_API }} | sed 's/^https:\/\///')
          echo "::add-mask::$primary_api"
          secondary_api=$(echo ${{ secrets.CF_SECONDARY_API }} | sed 's/^https:\/\///')
          echo "::add-mask::$secondary_api"
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4
        with:
          fetch-depth: 0 #for spotless ratchet
      - uses: actions/setup-java@9704b39bf258b59bc04b50fa2dd55e9ed76b47a8 # v4
        with:
          distribution: 'temurin'
          java-version: 8
      - uses: gradle/gradle-build-action@29c0906b64b8fc82467890bfb7a0a7ef34bda89e # v3
        name: build
        with:
          arguments: build
      - name: Docker Hub Login
        run: docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Deploy to CF primary
        if: inputs.application == 'projectreactor'
        uses: citizen-of-planet-earth/cf-cli-action@3c7cc1a77152f9157b0c33b32d3b2b5fbdc56dca # v2
        with:
          cf_api: ${{ secrets.CF_PRIMARY_API }}
          cf_username: ${{ secrets.CF_USER }}
          cf_password: ${{ secrets.CF_PASSWORD }}
          cf_org: ${{ secrets.CF_ORG }}
          cf_space: ${{ secrets.CF_SPACE }}
          command: push -f manifest.yml --var appname=${{ env.APPNAME }} --var route=${{ env.ROUTE }}
      - name: Deploy to CF secondary
        uses: citizen-of-planet-earth/cf-cli-action@3c7cc1a77152f9157b0c33b32d3b2b5fbdc56dca # v2
        with:
          cf_api: ${{ secrets.CF_SECONDARY_API }}
          cf_username: ${{ secrets.CF_USER }}
          cf_password: ${{ secrets.CF_PASSWORD }}
          cf_org: ${{ secrets.CF_ORG }}
          cf_space: ${{ secrets.CF_SPACE }}
          command: push -f manifest.yml --var appname=${{ env.APPNAME }} --var route=${{ env.ROUTE }}
